<ion-content class="content">
  <header>
    <div
      class="header-container"
      style="background-image:url({{notice.jetpack_featured_media_url}});"
    >
   
      <ion-grid>
        <ion-row>
          <ion-col>
           <div style="height:10px 
           ;"> <ion-icon
            [routerLink]="['/tabs/tab2']"
            size="large"
            slot="start"
            name="chevron-back"
            class="icon"
            style="color:primary;"
          ></ion-icon></div>
           </ion-col>
          <ion-col> </ion-col>
          <ion-col>
            <app-popover></app-popover>
          </ion-col>
        </ion-row>
       
      </ion-grid>
    </div>
  </header>

  <ion-card class="card-content">
    <ion-card-title class="title" color="mycolor"> {{notice.title.rendered}}</ion-card-title>
    <ion-card-content >
      <div class="predeterminado" [innerHTML]="notice.content.rendered"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content class="content">
  <ion-header collapse="fade">
    <ion-toolbar  >
      <div  class="toolbar-img" style="background-color:aqua ;"></div>
      <ion-img class="img" [src]="notice.jetpack_featured_media_url"></ion-img> 
    
     

<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
    
    </ion-col>
    <ion-col>
    <app-popover></app-popover>
    </ion-col>
  </ion-row>
</ion-grid>
     

    </ion-toolbar>
  </ion-header>

  <ion-card class="container-detail">

     <h2 class="title">  {{notice.title.rendered}}</h2>
       
   


 
    
      <div class="div-text predeterminado" [innerHTML]="notice.content.rendered"></div>


 

  </ion-card>

</ion-content>
 -->
